# CMake Files
CMakeCache.txt
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CMake Folders
CMakeScripts
CMakeFiles
bin

# Robocompcdsl weird files
*.new